include ../menu/wallet.jade
section.panel.content(ng-controller="GatewaysCtrl")
  p.literal Gateways
  hr
  ul.gateways-list
    li(ng-show="zipzap.id")
      img(src="img/gateways/zipzap.png")
      span.info
        | ID:
        span.id  {{zipzap.id}}